<p id="notice"><%= notice %></p>

<h1>Listing Lectures</h1>
<% if current_user && current_user.instructor? %>
  <p class="btn btn-success new"><%= link_to 'New Lecture', new_lecture_path %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Course</th>
      <th>Attachment</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= raw lecture.try(:content) %></td>
        <td><%= lecture.try(:course).try(:title) %></td>
        <td><%= link_to 'Show', lecture %></td>
        <% if current_user  %>
          <td><%= link_to "Download lecture", lecture.attachment_url %></td>
          <% if current_user.instructor? %>
            <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
            <td><%= button_to "Delete",  lecture, method: :delete, confirm: "Are you sure that you wish to delete this lecture?" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
