<!DOCTYPE html>
<html>
<head>
  <title>Mooc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class=" navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">MOOC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home' , home_index_path %></li>
      <li><%= link_to 'Courses' , courses_path %></li>
      <li><%= link_to 'Lectures' , lectures_path %></li>
      <% if user_signed_in? %>
        <li> <%= link_to "Edit profile", edit_user_registration_path %></li>
        <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li> or <li><%= link_to "sign in", new_user_session_path %></li>
      <% end %>
      <li> <h4 class="welcome"> Welcome  <%= current_user.try(:name) %> </h4>
          <img src="<%= current_user.try(:image) %>" width="50" height="50" class="profile_picture"/></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
